.flex20 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

a {
  color: inherit;
}

.wrong {
  font-size: 14px;
  color: #ff0000;
}
