<header class="header-c">
  <p>HC</p>
  <nav class="h-navs">
    <ul class="h-ul">
      <li class="sidebar__li">
        <a
          [routerLink]="['/profile']"
          routerLinkActive="selected"
          class="sidebar__link"
          >Profile</a
        >
      </li>
      <li class="sidebar__li">
        <a
          [routerLink]="['/main']"
          routerLinkActive="selected"
          class="sidebar__link"
          >Main</a
        >
      </li>
      <li class="sidebar__li">
        <a
          [routerLink]="['/create']"
          routerLinkActive="selected"
          class="sidebar__link"
          >Create Holiday</a
        >
      </li>
      <li class="sidebar__li">
        <a
          [routerLink]="['/about']"
          routerLinkActive="selected"
          class="sidebar__link"
          >About</a
        >
      </li>
      <li class="sidebar__li">
        <a
          href="https://github.com/kwinkich/hc-angular"
          target="_blank"
          class="sidebar__link"
          >GitHub</a
        >
      </li>
    </ul>
  </nav>
</header>
