@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-change-color: #18181b;
  --main-change-color: #befbff;
  --wrong: #ef4444;
  --edit: #1068b9;
}

* {
  padding: 0;
  margin: 0;
  bottom: 0;
}
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
b,
strong {
  font-weight: bolder;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
img {
  vertical-align: top;
  border-style: none;
}
ul,
li {
  list-style: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
input,
button,
textarea {
  font-weight: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #18181b;
  color: #befbff;
  font-size: 18px;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

a {
  color: inherit;
}

input {
  padding: 15px;
  border: 2px solid var(--main-change-color);
  border-radius: 2px;
  background: transparent;
  color: var(--main-change-color);
}

input::placeholder {
  color: var(--main-change-color);
}

input[type="color"] {
  padding: 0px !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.h3 {
  font-size: 36px;
  font-weight: bold;
}

.input-label {
  font-size: 20px;
  font-weight: 600;
}

.wrong {
  font-size: 14px;
  color: #ff0000;
}

.mb-40 {
  margin-bottom: 40px;
}

.button-main {
  cursor: pointer;
  padding: 15px 50px;
  border: 2px dashed var(--main-change-color);
  color: var(--main-change-color);
  background: none;
  transition: all 0.4s ease-in-out;
  font-size: 18px;
  font-weight: bold;
}

.button-main:hover {
  background: var(--main-change-color);
  color: var(--bg-change-color);
}

.button-main:disabled {
  cursor: not-allowed;
}

.mt-40 {
  margin-top: 40px;
}
